@import "../../assets/variables";

.SymbolList {
  margin-bottom: 10px;
  margin-top: 15px;

  .CountInContext {
    display: inline-block;
  }

  .symbol-info {
    padding-top: 12px;
  }

  .symbol-icon {
    margin-right: 10px;
  }

  .symbol-name {
    padding: 2px 0px 2px 8px;
    color: $brand-primary;
    margin: 0 4px 4px 0;
    white-space: nowrap;

  }
  .symbol-count {
    float:right;
    background-color: $brand-primary;
    color: #fff;
    border-radius: 4px;
    padding: 5px 6px;

  }
}
