
.CountInContext {
  .context-line {
    stroke: #555;
  }
  .context-text {
    stroke: white;
    text-anchor: middle;
  }

  .context-label {
    font-size: 10px;
    fill: #888;
    // cursor: pointer;
    // text-decoration: underline;
  }
}
