
.MapView {
  .highlight{
    opacity:    0.4;
    filter:     alpha(opacity=40);
    outline:    12px auto #0A7EbE;
    background-color: white;
  }
  .highlight:hover, .highlight:focus{
    filter:     alpha(opacity=70);
    opacity:    0.7;
    background-color: transparent;
  }
}
