// Import our custom bootstrap version
@import "variables";
@import "bootstrap_custom";
@import "./font-awesome/scss/font-awesome.scss";
@import "chart";

// Generic site-wide css here
body {
  font-weight: 300;
  background: #fff;
}

h1.banner, h2.banner, h3.banner {

  line-height: 1.6;
  color: #fff;
  background-color: #000;
  padding-left: 15px;
}
